<html>

<head>
    <title>Kirpputori</title>
</head>

<body>
  <h1>Kirpputori</h1>
  {% if session.username %}
    <p>Tervetuloa, {{ session.username }}! UID:{{ session.uid }}</p>
    <p><a href="/logout">Kirjaudu Ulos</a>
  {% else %}
    <p><a href="/login">Kirjaudu Sisään</a> | <a href="/register">Luo Tunnus</a></p>
  {% endif %}
  <p><a href="/new_item">Uusi ilmoitus</a></p>
  <h2>Ilmoitukset</h2>

  <ul>
  {% for item in items %}
  <p>Session UID: {{ session.uid }}</p>
  <p>Item UID: {{ item.uid }}</p>

    <li>
    {{ item.title }}
    {% if session.uid == item.uid %}
      <a href="/edit_item/{{ item.id }}">Muokkaa</a>
      <a href="/delete_item/{{ item.id }}">Poista</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>

</body>

</html>